.footer {
    background: #000941;
    &__body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 74px;
        padding-top: 15px;
        padding-bottom: 15px;

        @media (max-width: $md4+px) {
            display: block;
        }
    }

    &__logo {
        width: 100%;
        max-width: 97px;
        margin-left: 10px;
        margin-right: 30px;

        @media (max-width: $md4+px) {
            margin-left: 0;
            margin-bottom: 13px;
        }

        & img {
            width: 100%;
        }
    }

    &__copy {
        color: #fff;
        font-size: 14px;
        line-height: 1.285em;
    }
}

