.promo-header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0A2AED;
            opacity: 0.4;
            z-index: 1;
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 180px 15px 200px 135px; 

        @media (max-width: $md2+px) {
            padding-left: 15px;
            padding-bottom: 100px;
        }

        @media (max-width: $md3+px) {
            justify-content: flex-end;
        }

        @media (max-width: $md4+px) {
            padding-bottom: 65px;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 17px;
        & img {
            position: absolute;
            top: 6px;
            left: -19px;
            transform: translateX(-100%);
            width: 100px;
            height: auto;

            @media (max-width: $md2+px) {
                position: static;
                margin-right: 16px;
                transform: translate(0, 5px);
            }

            @media (max-width: $md4+px) {
                width: 60px;
            }
        }
    }

    &__subtitle {
        font-family: $titleFontFamily;
        font-size: 39px;
        line-height:  1.230em;
        color: #FFFFFF;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 38px;

        @media (max-width: $md3+px) {
            font-size: 32px;
        }

        @media (max-width: $md4+px) {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    & .btn-blur {
        
        @media (max-width: $md2+px) {
            align-self: center;
        }
    }

    &__bottom {
        min-height: 102px;
        background-color: $mainColor;
        width: 100%;

        & .input {
            background: #3A468C;

            color: #fff;

            &::placeholder {
                color: #fff;
            }
        }

        @media (max-width: $md2+px) {
            & .capture-form__inner {
                display: none;
            }

            & .capture-form {
                justify-content: center;
            }
        }
    }
}


.btn-blur {
    font-family: $titleFontFamily;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    min-width: 17em;
    min-height: 2.45em;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    border-radius: 2.275em;
    align-self: flex-start;
    transition: all .3s ease;

    @media (max-width: 374px) {
        font-size: 16px;
    }

    @media (min-width: 992px) {
        &:hover {
            backdrop-filter: blur(1px);
            background: rgba(255, 255, 255, 0.4);
        }
    }
}












.capture-form {
    min-height: 102px;
    display: flex;
    align-items: center;

    &__inner {
        display: flex;
        align-items: center;
        margin-right: 70px;
        flex: 1 1 auto;
        justify-content: space-between;
    }

    &__item {
        flex: 1 1 auto;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &_1 {
            max-width: 334px;
        }
        &_2 {
            max-width: 364px;
        }
        &_3 {
           max-width: 256px; 
        }
    }

    & button.btn-default {
        flex: 0 0 auto;
    }
}












.cards {
    margin-bottom: 10px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        justify-content: center;

        & > li {
            flex: 0 1 33.3333%;
            padding: 0 10px;
            margin-bottom: 50px;

            @media (max-width: $md2+px) {
                flex: 0 1 50%;
            }

            @media (max-width: $md3+px) {
                flex: 0 1 100%;
            }
        }
    }
}



.card {
    text-align: center;
    &__icon {
        height: 172px;
        padding-bottom: 30px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
        & img {
            height: 100%;
            width: auto;
        }
    }

    &__title {
        margin-bottom: 10px;
        padding: 0 5px;
    }

    &__text {
        padding: 0 10px;
        max-width: 460px;
        margin: 0 auto;
    }
}















.products {
    background: rgba(#E2F1FF, 0.4);
    position: relative;
    &__slider {
        padding: 16px 0 39px;

        @media (max-width: 1450px) {
            padding: 16px 0px 39px;
            margin: 0 55px;
        }

        @media (max-width: $md3+px) {
            padding: 16px 0 39px;
            margin: 0;
        }
        & .swiper-container {
        }
        & .swiper-wrapper {
        }
        & .swiper-slide {
        }

        & .swiper-pagination {
            & .swiper-pagination-bullet {
                margin: 0 7px;
                height: 7px;
                width: 7px;
                background: transparent;
                border: 1px solid $mainColor;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    background-color: $mainColor;
                }
            }
        }
        
    }

    &__slider-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
    }

    &__slider-btn {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 66px;
        background-color: #E2F1FF;
        cursor: pointer;
        transition: all .2s ease;
        pointer-events: auto;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($hoverColor, 0.4);
            }
        }

        @media (max-width: $md3+px) {
            background: transparent;
            flex: 0 0 33px;
        }

        & > span {
            display: block;
            width: 8px;
            height: 16px;

            & img {
                width: 100%;
            }
        }

        &_prev {
        }

        &_next {
        }
    }
}




.card-product {
    text-align: center;
    &__img {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 9px;
        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        max-width: 300px;
        margin: 0 auto;
    }
}










.download-catalog {
    margin-bottom: 78px;
}



.block-column-2 {
        display: flex;

        @media (max-width: $md2+px) {
            display: block;
        }

		&__column {
            flex: 0 1 50%;
            min-height: 294px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            background: #0F245A;

            &:last-child {
                @media (max-width: $md2+px) {
                    display: none;
                }
            }
		}

		&__text-wrap {
            max-width: 740px;
            width: 100%;
            padding: 38px 30px 37px;

            @media (max-width: $md3+px) {
                padding: 38px 15px 37px;
            }
		}

		&__title {
            max-width: 624px;
            margin-bottom: 20px;
            color: #fff;
		}
}








.dev-program {
    margin-bottom: 87px;

    @media (max-width: $md2+px) {
        margin-bottom: 0;
    }

    & .container {
        position: relative;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 30px);
        height: 100%;
        z-index: -1;

        @media (max-width: $md2+px) {
            width: 100%;
        }
        
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(90deg, #000000 0%, rgba(9, 9, 9, 0.69) 26.92%, rgba(255, 255, 255, 0) 57.43%, rgba(0, 0, 0, 0) 57.43%);
            opacity: 0.5;

            @media (max-width: $md2+px) {
                background: #000;
                opacity: 0.3;
            }

            @media (max-width: $md4+px) {
                background: linear-gradient(89.91deg, #010042 0.08%, rgba(30, 43, 165, 0.69) 34.05%, rgba(194, 200, 255, 0.27) 72.54%, rgba(255, 255, 255, 0) 72.54%);
                opacity: 0.5;
            }   
        }
    }
    
    &__body {
        min-height: 295px;
        padding: 24px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: $md3+px) {
            padding: 63px 0px;
        }

        & .capture-form {
            min-height: auto;

            @media (max-width: $md2+px) {
               display: block;
            }

            @media (max-width: $md3+px) {
                text-align: center;
            }

            & .capture-form__inner {
                margin-right: 46px;

                @media (max-width: $md2+px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }

                @media (max-width: $md3+px) {
                    display: block;

                    & .capture-form__item {
                        max-width: none;
                        margin-right: 0;
                        margin-bottom: 16px;
                    }
                }

                @media (max-width: $md4+px) {
                    margin-bottom: 14px;
                    & .capture-form__item {
                        margin-bottom: 10px;
                    }
                }
            }

            & button.btn-default {
                min-width: 16em;
            }
        }
    }

    &__title {
        color: #fff;
        max-width: 745px;
        margin-bottom: 18px;
        & > strong {
            display: block;
        }
    }

}







.test-sample {
    margin-bottom: 128px;

    @media (max-width: $md3+px) {
        margin-bottom: 90px;
    }

    & .block-column-2__column {
        min-height: 553px;
        background: #101015;

        @media (max-width: $md2+px) {
            min-height: 294px;
        }

        @media (max-width: $md3+px) {
            & .block-column-2__title {
                text-align: left;
            }
            text-align: center;
        }
    }
}









.testimonial {
    margin-bottom: 128px;

    @media (max-width: $md4+px) {
        margin-bottom: 60px;
    }

    &__title {
        text-align: center;
        margin-bottom: 116px;

        @media (max-width: $md4+px) {
            margin-bottom: 90px;
            font-size: 30px;
        }
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: flex-end;

        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
    }

    &__text-wrap {
        flex: 0 1 50%;
        padding: 25px 23px 34px;
        background: rgba(#0B1867, 0.8);
        height: 100%;
        color: #fff;

        @media (max-width: $md4+px) {
            padding: 25px 16px 34px;
        }

        & * {
            max-width: 690px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.text-content {
            font-size: 20px;

            & p {
                font-size: 20px;
                line-height: 1.35em;
            }
        }

        & h3 {
            margin-bottom: 15px;
            font-weight: 400;
            font-family: $titleFontFamily;
            & > span {
                display: block;
            }

            @media (max-width: $md3+px) {
                font-size: 29px;

                & > span {
                    font-size: 39px;
                }
            }
        }
    }
}








.advantages {
    margin-bottom: 65px;

    @media (max-width: $md3+px) {
        margin-bottom: 20px;
    }
    
    &__title {
        font-weight: 400;
        margin-bottom: 87px;

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }

        & > strong {
            font-weight: 700;
            display: block;
            margin-bottom: 8px;
            letter-spacing: 0.01em;
        }
    }

    &__subtitle {
        margin-bottom: 72px;

        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }

        &.text-content {
            font-size: 22px;
            line-height: 1.181em;
        }
    }

    & .card__icon {
        height: 140px;
    }

    & .cards__list > li {
        margin-bottom: 21px;

        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }
    }
}









.slider-images {
    position: relative;
    margin-bottom: 100px;

    & .swiper-container {
        height: 585px;
    }
    & .swiper-wrapper {
    }
    & .swiper-slide {
    }
    

    &__control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: none;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        pointer-events: auto;
        height: 100%;
        flex: 0 0 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(#E2F1FF, 0.3);
        cursor: pointer;
        transition: all .2s ease;

        @media (min-width: 992px) {
            &:hover {
                background: rgba(#E2F1FF, 0.6);
            }
        }

        @media (max-width: $md3+px) {
            background: transparent;
            flex: 0 0 33px;
        }

        & > span {
            display: block;
            width: 16px;

            & img {width: 100%;}
        }

        &_next {
        }
    }

    &__btn-prev {
    }
}














.clients-block {
    position: relative;
    margin-bottom: 58px;

    &__title {
        margin-bottom: 25px;

        @media (max-width: $md4+px) {
            margin-bottom: 0;
        }
    }

    &__list {

        &.swiper-container {

            @media (max-width: $md3+px) {
                padding: 0 15px;
                margin: 0 -15px;
    
            }
        }

        & .swiper-wrapper {
            align-items: center;
        }

        & .swiper-slide {
            padding: 10px 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 374px) {
                padding: 10px 35px;
            }
            
            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        @media (min-width: 768px) {
            & .swiper-wrapper {
                flex-wrap: wrap;
                align-items: center;
                margin: 0 -15px;
                justify-content: center;
            }

            & .swiper-slide {
                height: auto;
                flex: 0 1 25%;
                margin-bottom: 40px;
            }
        }

        @media (min-width: 1024px) {
            & .swiper-slide {
                flex: 0 1 20%;
            }
            
        }
    }

    &__slider-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        pointer-events: none;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__slider-btn {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 66px;
        background-color: #E2F1FF;
        cursor: pointer;
        transition: all .2s ease;
        pointer-events: auto;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($hoverColor, 0.4);
            }
        }

        @media (max-width: $md3+px) {
            background: transparent;
            flex: 0 0 33px;
        }

        & > span {
            display: block;
            width: 8px;
            height: 16px;

            & img {
                width: 100%;
            }
        }

        &_prev {
            // @media (max-width: $md3+px) {
            //     transform: translateX(-5px);
            // }
        }

        &_next {
            // @media (max-width: $md3+px) {
            //     transform: translateX(5px);
            // }
        }
    }
}








.testimonials-block {
    background: rgba(#E2F1FF, 0.4);
    position: relative;
    &__slider {
        padding: 46px 5px 46px;
        margin: 0 -5px;

        @media (max-width: 1579px) {
            padding: 46px 5px 46px;
            margin: 0 60px;
        }

        @media (max-width: $md3+px) {
            padding: 46px 5px 46px;
            margin: 0 20px;
            overflow: visible;
        }

        & .swiper-wrapper {
        }
        & .swiper-slide {
            border: 1px solid #517DA6;
            box-sizing: border-box;
            border-radius: 6px;
            padding-bottom: 24.2%;
            position: relative;
            cursor: pointer;
            transition: all .2s ease;


            @media (max-width: 1267px) {
                padding-bottom: 31.2%;
            }

            @media (max-width: $md2+px) {
                padding-bottom: 45.2%;
            }

            @media (max-width: $md3+px) {
                flex: 0 0 248.45px;
                height: 345.87px;
            }

            @media (min-width: 992px) {
                &:hover {
                    box-shadow: 0px 0px 20px rgba($mainColor, 0.2);
                }
            }
            & img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                height: 96%;
                object-fit: cover;
            }
        }
        
    }

    &__slider-control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
    }

    &__slider-btn {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 66px;
        background-color: #E2F1FF;
        cursor: pointer;
        transition: all .2s ease;
        pointer-events: auto;

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($hoverColor, 0.4);
            }
        }

        @media (max-width: $md3+px) {
            background: transparent;
            flex: 0 0 33px;
        }

        &.swiper-button-disabled {
            cursor: auto;
            @media (min-width: 992px) {
                &:hover {
                    background-color: #E2F1FF;
                }
            }
        }

        & > span {
            display: block;
            width: 8px;
            height: 16px;

            & img {
                width: 100%;
            }
        }

        &_prev {
        }

        &_next {
        }
    }
}









.learn-more-block {
    padding: 110px 0 98px;
    
    @media (max-width: $md3+px) {
        padding: 60px 0 52px;
    }

    &__body {
        display: flex;

        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__column-1 {
        flex: 1 1 auto;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md2+px) {
            padding-right: 0;
            margin-bottom: 30px;
        }
    }

    &__column-2 {
        flex: 0 0 40.8%;
        display: flex;
        flex-direction: column;
    }

    &__title {
    }

    &__subtitle {
        font-family:$titleFontFamily;
        font-size: 39px;
        line-height: 1.230em;
    }


    &__link {
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: $titleFontFamily;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222em;
        color: #FFFFFF;
        padding: 6px 25px;
        background-color: $mainColor;
        min-height: 42px;
        width: 100%;
        max-width: 480px;
        transition: all .2s ease;
        position: relative;
        border-radius: 999px;

        @media (max-width: $md4+px) {
            min-height: 56px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $hoverColor;
            }
        }
    }
}








.test-sample-v2 {
    position: relative;
    padding: 38px 0 39px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    margin-bottom: 86px;

    @media (max-width: $md3+px) {
        padding: 60px 0 60px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index:1;
            background-color: rgba($mainColor, 0.8);
        }
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;

        @media (max-width: $md3+px) {
            text-align: left;
            margin-bottom: 28px;
        }
    }

    &__message {
        color: #fff;
        text-align: center;
    }

    & .capture-form {
        min-height: auto;
        display: block;
        max-width: 700px;
        margin: 0 auto;
        width: 100%;
        
        @media (max-width: $md3+px) {
            text-align: center;
        }
    }

    & .capture-form__inner {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-right: 0;

        @media (max-width: $md3+px) {
            display: block;
            margin-bottom: 18px;
        }
    }

    & .capture-form__item {
        margin-bottom: 15px;
        flex: 0 1 calc(50% - 10px);
        max-width: none;
        margin-right: 0;

        @media (max-width: $md3+px) {
            margin-bottom: 10px;
        }


        & .input {
            background-color: #fff;
        }
        &_2 {
            flex: 0 1 100%;
        }
    }
}








.contact-block {

    &__title {
        margin-bottom: 27px;
    }

    &__item {
        display: flex;
        margin-bottom: 60px;
    }

    &__column {
        flex: 0 1 50%;

        &:first-child {
            min-height: 353px;
            @media (min-width: 992px) {
                & .contact-block__logo {
                    display: none;
                }
            }
        }

        &:last-child {
            padding-left: 20px;
        }

        & .title-4 {
            margin-bottom: 8px;
        }
    }

    &__map {
        height: 100%;
        width: 100%;
    }

    &__logo {
        width: 100%;
        max-width: 188px;
        margin-bottom: 35px;
        & img {
            max-width: 100%;
        }
    }

    &__subtitle {
        font-family: $titleFontFamily;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.22em;
        margin-bottom: 30px;

        & > span {
            font-size: 16px;
            display: block;
            font-family: $mainFontFamily;
            margin-bottom: 6px;
        }
    }

    &__info-item {
        display: inline-block;
        margin-bottom: 31px;
        margin-right: 51px;
        margin-bottom: 0;
    }

    &__label {
        font-family: $titleFontFamily;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25em;
        color: #69709E;
        margin-bottom: 5px;
    }

    &__text {
        font-family: $mainFontFamily;
        font-size: 20px;
        line-height: 1.15em;
    }

    &__group-items {
        & .contact-block__info-item {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
